body {
	font-family: sans-serif;
	font-size: 100%;}
	
a { font-weight: bold;}
a:link { Color: maroon}
a:visited { color: maroon;}	
a:hover { color: steelblue;}

ul { line-height: 2;}
li { font-size: 100;}
em { font-weight: bolder;}

ul{
	a { font-weight: bold;}
a:link { Color: steelblue}
a:visited { color: steelblue;}	
a:hover { color: maroon;}
}

/*the styles for the header*/
header img { float: left}
header h1 {
	font-size: 250%;
	color: steelblue;
	text-align: left;
	text-shadow: 3px 3px 4px steelblue;
	text-indent: 3%;
	font-style: italic;
}
header h3 {
	font-size: 150%;
	color: black;
	text-align: left;
	text-indent: 3%;
}

/*the styles for the main content*/
main { clear: left;}
main h1 { font-size: 170%;}
main h2 { font-size: 130%;}


/*the styles for the footer*/
footer {
font-size: 80%;
text-align: center;
}