* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "aladin", sans-serif;
	font-size: 100%;
	width: 900px;
	margin: 0em auto; 
	border: 3px solid steelblue;
	box-shadow: 0px 20px 30px black;
}

/*the styles for the header*/
header {
	background-image: linear-gradient(to bottom, white 3%, #b0c4de 100%);
	border-bottom: 3px solid steelblue;
    padding: 1.5em 0 1.5em 0;

}

header h1 {
	font-size: 250%;
	color: steelblue;
	text-align: left;
	text-shadow: 3px 3px 4px steelblue;
	font-style: italic;
}

header h2 {
	font-size: 150%;
	color: black;
	padding-top: 10px;
}

header img { 
	float: left;
	padding: 0 30px;
    width: 150px;
}

.navbar ul {
	list-style: none;
	position: relative;
}

.navbar ul li { float: left; }
.navbar ul ul { 
	display: none;
	position: absolute;
	top: 100%;
}

.navbar ul ul li {float: none;}
.navbar ul li:hover > ul {
	display: block
}

.navbar > ul::after { 
	content: "";
	display: block;
	clear: both;
}

/*style for nav menu*/
.navbar ul li a { 
	text-align: center; 
	display: block; 
	width: 180px; 
	padding: .5em 0;
	text-decoration: none; 
	background-color: steelblue; 
	color: white; 
	font-weight: bold;
}

.navbar ul li a:hover {
    background-color: lightsteelblue;
} 

.navbar ul li #meals { color: black;}

/*the styles for the main content*/
main { 
	clear: both;
	height: fit-content;
}

section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 0px;
}
fieldset {
	border: 2px solid black; 
	padding-top: .5em;
	} 
legend {
	font-weight: bold; 
	font-size: 85%; 
	margin-left: .5em;
	}

label, input, select { 
	font-size: 90%;
	} 
#self input:required {
	border: 3px solid red;
}
#self label {
	float: left; 
	width: 8em;
	padding-left: 2em;
}
#self input, select{
	width: 15em;
	margin-left: .5em; 
	margin-bottom: .5em;
}
#life p {
	font-size: 90%;
	margin: .2em 0 .2em 1em;
}
#life input {
	margin-left: 3em;
	margin-bottom: 1em;
}
#food input {
	margin-left: 1em;
}
#food p {
	margin: .2em 0 .2em 1em;
}
#food input {
	margin-left: .5em;
}
#food textarea { 
	height: 5em;
	width: 25em;
	margin: 1em 3em;
}
#comment p {
	margin: .2em 0 .2em 1em;
}
#comment textarea {
	height: 5em;
	width: 25em;
	margin: 1em 3em;
}

#button input{
	width: 8em;
}
#submit {margin: .5em 0 1.5em 5em;}	

section h1 {
	font-family: aladin;
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: auto;               /* If you remove this, the margins in normalize.css will be applied. */
}

section h2 { color: maroon;}
section p {
	padding:0 .5em .5em 0;
}

main h1 { font-size: 170%;}
main h2 { font-size: 140%;}
main h3 { font-size: 120%;}

main h1, h2, h3 { margin-bottom: .5em;}

/* the styles for the aside */
aside{
    float: left;
    width: 245px;
	margin-left: 2.5em;	
}

aside h2{
    color: maroon;
	font-size: 150%;
	padding: .5em 0 0 0;
}
aside ul{
	padding-left: .75em;
}

ul { line-height: 1.5em;}
li { 
	font-size: 100%;
	font-weight: bold;
}

.sidelist ul li a { 
	Color: steelblue;
	text-decoration: none;
}
.sidelist ul li a:hover, .sidelist ul li a:focus { 
	color: maroon;
}

/*the styles for the footer*/
footer {

	background: steelblue 100%;
	padding: 5px;
	clear: both;
	
}

footer p {
	font-size: 80%;
	text-align: center;
    color: white;
}