* {
	margin: 0;
	padding: 0;
}
html {background-image: linear-gradient(
	30deg, goldenrod 0%, #fff0c9 30%, #e2f6e8 50%, #d4b975 80%, goldenrod 100%);}
.slicknav_menu {display: none;}
body {
	font-family: sans-serif;
	font-size: 100%;
	max-width: 1024px;
    width: 95%;
	margin: 0 auto; 
	background-color: white;
	border: 3px solid #374F2F;
	box-shadow: 0px 20px 30px black;
	
}


/*the styles for the header*/
header {
    width: 100%;
	background-image: linear-gradient(
	    30deg, #374F2F 0%, #aad2b5 30%, #e2f6e8 50%, #aad2b5 80%, #374F2F 100%);
	border-bottom: 3px solid #374F2F;
    padding: 1.5em 0 1.5em 0;

}

header h1 {
	font-size: 250%;
	color: goldenrod;
	text-shadow: 3px 3px 4px black;
	text-align: left;
	font-style: italic;
} 

header h2 {
	font-size: 150%;
	color: black;
	padding-top: 10px;
}

header img {
	float: left;
	padding: 0 30px 10px;
}

.navbar ul {
	list-style: none;
	position: relative;
    max-width: 1024px;
	width: 100%;
	
}

.navbar ul li { 
	float: left; 
	width: 25%;
}
.navbar ul ul { 
	display: none;
	position: absolute;
	top: 100%;
}

.navbar ul ul li {float: none;}
.navbar ul li:hover > ul {
	display: block
}

.navbar > ul::after { 
	content: "";
	display: block;
	clear: both;
}

/*style for nav menu*/
.navbar ul li a { 
	text-align: center; 
	display: block; 
	padding: 5px -1em 5px 1em;
	text-decoration: none; 
	background-color: #374F2F; 
	color: white; 
	font-weight: bold;
}

.navbar ul li a:hover {
    background-color: #aad2b5;
} 

.navbar ul li #home { 
	color: gray;
	background-color: #374F2F;
}
.navbar ul li #mount {
	color: goldenrod;
}
/*the styles for the main content*/
main { 
	clear: both;
	height: fit-content;
}

.fnt {
	font-family: "Kranky", serif;
	font-weight: bold;
	font-style: normal;
  }

section {
	width: 60.18%;          /* 565/1024 x 100 */
	float: right;
	padding: 0 20px 20px;
}

section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: auto;               /* If you remove this, the margins in normalize.css will be applied. */
}
section h2 {
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

section h3 { 
	color: #374F2F;
	padding: .5em 0 .25em 0;
}
section a {
	font-weight: 400;
	font-style: normal;
  }
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section img {
	height: 50%;
	width: 50%;
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}
section a:hover, section a:focus { 
	color: #aad2b5;
	transition: 3s; 
	transform: scaleY(360deg);
}

section a {
	font-weight: bold;
	text-decoration: none;
	Color: #374F2F;
}

section p {
	line-height: normal;
}
#yay{
	color: goldenrod;
}
main h1 { font-size: 170%;}
main h2 { font-size: 140%;}
main h3 { font-size: 120%;}

main h1, h2, h3 { margin-bottom: .5em;}

/* the styles for the aside */
aside{
    float: left;
    width: 30%;           /* 245/1024 x 100 */
	margin-left: 2em;	
}

aside h2{
    color: black;
	font-size: 150%;
	padding: .5em 0 0em 0;
}

ul { 
	line-height: 4em;
	list-style-type: none;
	
}
li { 
	font-size: 100%;
	font-weight: bold;
}
ul img {
	display: inline;
	float: left;
	padding-right: 5px;
}

.sidelist ul li a { 
	Color: #374F2F;
	text-decoration: none;
}
.sidelist ul li a:hover, .sidelist ul li a:focus { 
	color: #aad2b5;
}

/*the styles for the footer*/
footer {
	background: #374F2F 100%;
	padding: 15px;
	clear: both;
}

footer p {
	font-size: 80%;
	text-align: center;
    color: white;
}
#cred { 
	padding-top: 5px;
	color: black;
}

/* Media query for 850px */
@media only screen and (max-width: 900px) { 
	body {
		box-shadow: none !important;
		font-size: 90%;
	}	
}

/* media query for 767px */
@media only screen and (max-width: 767px) {
	.navbar {display: none;}
	.slicknav_menu {display: block;}
	header img { 
		width: auto;
		height: auto;
	}
	.sidelist {
		float: none;
		width: 100%;
		margin: 1em;
	}
	section {width: 95%;}

	
}

/* media query for 479px */
@media only screen and (max-width: 479px) {
	.navbar {display: none;}
	.slicknav_menu {display: block;}
	body {
		font-size: 90%;;
	}
	section {padding-right: .5em;}
	header img {
		width: auto;
		height: auto;
	}
	header {font-size: 80%;}
}